body {
  /* transition: background-color 0.5s; */
}

.toggle-container {
  text-align: center;
  /* height: 100vh; */
  display: table;
  /* width: 50%; */
}
.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
  margin: 0 auto;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
